/.idea/
/Conjunction/*-x[0-9][0-9][0-9].png
/Aries/*-x[0-9][0-9][0-9].png
/Taurus/*-x[0-9][0-9][0-9].png
/Gemini/*-x[0-9][0-9][0-9].png
/Cancer/*-x[0-9][0-9][0-9].png
/Leo/*-x[0-9][0-9][0-9].png
/Virgo/*-x[0-9][0-9][0-9].png
/Libra/*-x[0-9][0-9][0-9].png
/Scorpio/*-x[0-9][0-9][0-9].png
/Sagittarius/*-x[0-9][0-9][0-9].png
/Capricorn/*-x[0-9][0-9][0-9].png
/Aquarius/*-x[0-9][0-9][0-9].png
/Pisces/*-x[0-9][0-9][0-9].png