/.idea/
/Conjunction/*-x[0-9][0-9][0-9].png
/Opposition/*-x[0-9][0-9][0-9].png
/Square/*-x[0-9][0-9][0-9].png
/Trine/*-x[0-9][0-9][0-9].png
/Sextile/*-x[0-9][0-9][0-9].png
/Quincunx/*-x[0-9][0-9][0-9].png
/Sesquisquare/*-x[0-9][0-9][0-9].png
/Semisquare/*-x[0-9][0-9][0-9].png
/Semisextile/*-x[0-9][0-9][0-9].png
/Quintile/*-x[0-9][0-9][0-9].png
/Biquintile/*-x[0-9][0-9][0-9].png
/Nonile/*-x[0-9][0-9][0-9].png
/Decile/*-x[0-9][0-9][0-9].png
/Septile/*-x[0-9][0-9][0-9].png
/Centile/*-x[0-9][0-9][0-9].png
/Tridecile/*-x[0-9][0-9][0-9].png
/Biseptile/*-x[0-9][0-9][0-9].png
/Triseptile/*-x[0-9][0-9][0-9].png
/Vigintile/*-x[0-9][0-9][0-9].png
/Binonile/*-x[0-9][0-9][0-9].png
/Aries/*-x[0-9][0-9][0-9].png
/Taurus/*-x[0-9][0-9][0-9].png
/Gemini/*-x[0-9][0-9][0-9].png
/Cancer/*-x[0-9][0-9][0-9].png
/Leo/*-x[0-9][0-9][0-9].png
/Virgo/*-x[0-9][0-9][0-9].png
/Libra/*-x[0-9][0-9][0-9].png
/Scorpio/*-x[0-9][0-9][0-9].png
/Sagittarius/*-x[0-9][0-9][0-9].png
/Capricorn/*-x[0-9][0-9][0-9].png
/Aquarius/*-x[0-9][0-9][0-9].png
/Pisces/*-x[0-9][0-9][0-9].png